<div class="container">
    <div data-rebuy-id="124218"></div>
</div>

{% render 'es-rebuy-recommendation' %}

{% schema %}
{
    "name": "Rebuy Recommendation",
    "settings": [],
    "presets": [
        {
            "name": "Rebuy Recommendation"
        }
    ]
}
{% endschema %}